body {
  background: #6034d9;
}

h1 {
  color: white;
  text-align: center;
}

div[data-id="languages"] {
  background: white;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 4px;
  margin: 0 auto;
  width: 580px;
  padding: 15px;
}

button {
  background: #6034d9;
  border-color: transparent;
  border-radius: 4px;
  color: white;
  
}