body {
  background: #005858;
}

h1 {
  color: white;
  text-align: center;
}

figcaption p {
  margin-top: 0;
  margin-bottom: 0;
}

div[data-id="images"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 50px;
}

figure {
  background: #1e1e1e;
  border: 5px solid #c5c5c5;
  border-radius: 8px;
  max-width: 400px;
  min-width: 195px;
}

img {
  width: 100%;
  height: auto;
}

figcaption {
  position: absolute;
  background: rgb(0, 0, 0, 0.5);
  border-color: transparent;
  border-radius: 4px;
  color: white;
  transition: opacity 150ms ease;
  opacity: 0;
  max-width: 350px;
  padding: 5px;
  z-index: 5;
}

img:hover + figcaption {
  transition-delay: 2s;
  transition-duration: 250ms;
  opacity: 1;
}