body {
  background: #1f4350;
}

#calculator {
  margin: 50px auto;
  background: white;
  border: transparent;
  border-radius: 4px;
  padding: 5px;
  height: 420px;
  width: 340px;
  display: flex;
  flex-direction: column;
}

#screen {
  height: 30%;
  text-align: right;
  padding: 5px;
}

#operation_window {
  height: 20%;
}

#entry_window {
  border-bottom: solid #afafaf 1px;
  font-size: 38px;
  margin: 18px 0;
  padding-bottom: 5px;
}

#buttons {
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4px;
  height: auto;
}

button {
  background: #cccccc;
  border: transparent;
  border-radius: 3px;
  font-size: 18px;
  height: 18%;
  width: 24%;
  cursor: pointer;
}